                          // ? Defining of (GLobal) Variables in SASS Preprocessor just like CSS Variables

$header-bg-color: rgb(15, 187, 164);
$section-bg-color: rgb(238, 27, 73);
$footer-bg-color: rgb(98, 207, 25);

// ! Mixin property is used to set some fixed commands that will be used multiple times by other sub sass files or even by main sass file. 
                 // ^ Syntax for mixin property--> @mixin property-name() { --- } 
  // ? Note: Mixin property could only be defined within a sub sass file and not within a main sass file and it behaves like a C++ Function
         // * To call a mixin property by any sass file, we use Include property---
                 // ^ Syntax for include property--> @include property-name(); 
                 // & Variable used in argument of mixin property works similar to function of c++ 

@mixin flexcenter($textcolor)
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textcolor;
}
 