/* TODO:: Style can be done by two methods: Inline Style and a Different .css file by importing & exporting */

/* ? But a Inline Style File has some limitations */

.Person 
{
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}