.size-1{
    font-size: 4rem;
    font-weight: 400; 
}
.size-2{
    font-size: 3rem;
    font-weight: 400;
}
article{
     line-height: 2;
     font-family: Just Another Hand;
     font-size: 1.8rem;
     /* display: grid; */
     /* grid-template-columns: 2fr; */

}
#gap{
    line-height: 3;
}
aside{
    font-family: Indie Flower;
    font-size: 1.5rem;
}
.container{
    display: grid;
    grid-gap: 10px; 
}
